body {
  padding: 4rem 0 6rem;
}

.board {
  display: flex;
  flex-wrap: wrap;
}

.game {
  margin: 0 auto;
}

.game-controls {
  display: flex;
  margin-top: 3rem;
}

.tile {
  box-sizing: border-box;
  position: relative;
  border: 1px solid #141479;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in;
  transition-property: left, top;
  transform: matrix(1, 0, 0, 1, 0, 0);
  left: 0;
  top: 0;
}


.tile:hover {
  background-color: #eee;
}

.hidden {
  color: white;
  position: relative;
  z-index: -1;
  border: none;
}

.btn {
  padding: 1rem;
  border: none;
  text-transform: uppercase;
  color: white;
}

.btn:hover {
  text-decoration: underline;
}

.btn-solve {
  background-color: green;
}


.btn-shuffle {
  background-color: #141479;;
}